@charset  "UTF-8";

*{margin: 0; padding: 0;}
img{width: 100%;}

.top_box{height: 100vh; background-color: #080808;
display: flex; justify-content: center; align-items: center;
}

.top_box h2{font-size: 80px; color: #333;}


.fix_motion{
   
    box-sizing: border-box;
    position: relative;
    background-color: #080808;
    }
.fix_motion .tit{color: #333; 
    text-align: center; font-size: 200px;
 width: 100%;
margin-bottom: 170px;
 text-align: center;
}
.inner{display: flex; 
    flex-wrap: wrap;
    max-width:1100px; margin: 0 auto;
    align-items: start;
}
.inner>div{width: 50%;}
.inner p{color: #333;}

.text_box{padding-top: 400px;}
.text_box>p{margin-top: 400px;
font-size: 36px; color: #333;
max-width: 80%;
transition: 0.3s;
}
.text_box .text01{margin-top: 0;}
.text_box .text02{}
.text_box .text03{}
.text_box .text04{margin-bottom: 500px;}

.text_box .text01.active{color: #fff;}
.text_box .text02.active{color: #fff;}
.text_box .text03.active{color: #fff;}
.text_box .text04.active{color: #fff;}

.device_box{position: sticky; top: 50%;
transform: translateY(-50%);
}
.device_box .watch_img{width: 240px; height: 409px; margin: 0 auto ; position: relative;}
.device_box .watch_img .img_device{
    position: absolute;   left: 0; right: 0; top: 0; bottom: 0;
    z-index: 100;
}
.watch_img .img_device img{}
.watch_img .slide_wrap{position: absolute;     
    left: 16px;top: 90px;
    width: 195px;height: 237px; overflow: hidden;
}
.watch_img .slide_wrap .slide{display: flex; width: 780px; 
transition:0.5s
}
.watch_img .slide_wrap .slide figure{width: 195px;}
.watch_img .slide_wrap .slide figure img{}



@media (max-width:1024px){
    .fix_motion .fix_wrap{height: 3000px;}/* //모바일버전에서 스크롤거리설정 */
    .fix_motion .fix_wrap .tit{font-size: 54px; }
    .fix_motion .fix_wrap .text_box {
        float: none;
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 100px;
    }
    .fix_motion .fix_wrap .text_box p{
        position: absolute;
        left: 0; top: 100px;
        width: 100%; max-width:100%;
        padding: 0 20px;
        font-size: 18px;
        text-align: center;
        box-sizing: border-box;
        opacity: 0;
    }
    .fix_motion .fix_wrap .text_box p.active{opacity:1}
    .fix_motion .fix_wrap .text_box p.text02 {margin-top: 0px;}
    .fix_motion .fix_wrap .text_box p.text03 {margin-top: 0px;}
    .fix_motion .fix_wrap .text_box p.text04 {margin-top: 0px;
    margin-bottom: 0;}

    .fix_motion .fix_wrap .device_box{
        top: calc(100vh - 360px); width: 100%; margin-top: 100px;}
    .fix_motion .fix_wrap .device_box .watch_img {
        width: 160px; height: 272px;}
    .fix_motion .fix_wrap .device_box .watch_img .slide_wrap{
        width: 120px; top: 66px; height: 146px;
    }
    .fix_motion .fix_wrap .device_box .watch_img .slide_wrap .slide{
        width: 480px;
    }
    .fix_motion .fix_wrap .device_box .watch_img .slide_wrap .slide figure{
        width:120px
    }


}